body {
    text-align: center;
    background: url('../Assets/halloween_discord_small.png') repeat 0 0;
    animation: bg-scrolling-reverse 12s infinite;
    animation-timing-function:linear;
}

body::before {
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
}

@keyframes bg-scrolling-reverse {
    100% { background-position: 200px 200px; }
}

@keyframes bg-scrolling {
    0% { background-position: 250px 250px; }
}

