#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.bot-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
}

.bot-item {
    flex: 1;
    max-width: calc(33.33% - 20px); 
}

@media screen and (max-width: 768px) {
    .bot-item {
        max-width: 100%; 
    }
}
